---
layout: default
---

<div class="home">

  <div style="display: flex; flex-direction: row; justify-content: center;">
    <img src="/dbird.png" width="150px"/>
  </div>

  <h1 class="page-heading">Projects</h1>

  <ul>
    <li>
      <a href="https://adventitio.us">Adventitious</a>
      <p>A Mutual Aid Platform to enable disclosure of needs, and facilitate discusions and the provision of the resources or services described by that need.</p>
    </li>
    <li>
      <a href="https://phi.tools">Phi Tools</a>
      <p>An accountability platform to enable declaration of intent, and provides tools for the community to review and verify action was taken on that intent.</p>
    </li>
    <li>
      <a href="https://openshadeball.org">Center for Open Shade Balls</a>
      <p>A Novel and unrealistic concept for using shade balls to limit evaporation of ocean water in certain locations with the goal of reducing or limiting the strength of hurricanes.</p>
    </li>
  </ul>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
